<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>No result is found</h1>
        <a href="/">Search Again</a>
    </div>
</body>
</html>