<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Search for a movie</h1>
        <form action="/results" method="get">
            <input type="text" placeholder="search term" name="search">
            <input type="submit">
        </form>        
    </div>

</body>
</html>